<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo management app</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="my-format.css">
</head>
<body>
    <main class="todomain">
    <img class="image" src="photo.jpg" />
    <article>
        <h1 class="todosection-title">
            my todo list
        </h1>
     <section>
      <h2 class="todosection">
        due today
      </h2>
      <p class="todosection-todo">  saas web application  </p>
      <p class="todosection-todo">take notes</p>

     </section>
     <section>
       <h2 class="todosection">
           due tomorrow
       </h2>
       <p class="todosection-todo">  saas project    </p>
       <p class="todosection-todo">buy milk</p>
       <p class="todosection-todo">eat food</p>
   
     </section>
    </article>   
    </main>
</body>
</html>